@charset "utf-8";
/* CSS Document */

body {
	padding: 0;
	margin: 0;
}

nav {
    
	padding: 0;
	margin: 0;
	width: 100%;
	height: 95vh;;
	padding: 50px;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
  	width: 38.2%;
	height: auto;
	
	border: 6px solid red;
	
	display: grid;
	grid-template-columns:  61.8%  38.2%;
	grid-template-rows: auto auto auto auto auto auto;
	
	grid-template-areas: 
    "RedHead ."
	". RedImage"
    "RedLine1 RedImage"
    "RedLine2 RedImage"
	"RedLine3 RedImage"
	"RedLine4 RedImage"
	"RedLine5 RedImage"
	". RedImage"
	"RedRemark RedImage";

}
 
nav:hover {
	border: 10px solid red;

}

main {
	padding: 0;
	margin: auto;
	width: 30%;
}

img {
	display: block;
	max-height: 500px;
	max-width: 500px;
	height: auto;
	width: 100%;
}


main p {
	font-size: 20px;
	max-width: 65ch;
}

.red1 {
	grid-area: RedHead;
}
.red2 {
	grid-area: RedLine1;
}
.red3 {
	grid-area: RedLine2;
}
.red4 {
	grid-area: RedLine3;
}
.red5 {
	grid-area: RedLine4;
}
.red6 {
	grid-area: RedLine5;
}
.red7{
	grid-area: RedRemark;
}
.redImg {
	grid-area: RedImage;
	display: block;
	  max-width: 400px;
	  max-height:650px;
	  width: auto;
	  height: auto;
	margin: auto;
}

ul {
	list-style-type: none;

}

li {
	border-bottom: 1px solid #171717;
}


















































#Left {
}

#Centre {
}

#Right {
}

.lampFull {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 400px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
	background-image: url("images/LFull.png");
	 background-size: cover;
}
.lampCord {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 400px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
	background-image: url("images/LampCord.jpg");
	 background-size: cover;
}

#lampFull {
	height: 100%;
	float: left;
	position: absolute;
	object-fit: cover;
}

.about {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	padding-top: 20px;
	padding-right: 20px;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

footer {
	height: 5vh; /* Full-height: remove this if you want "auto" height */
	padding-bottom: 10px;
  	position: sticky; /* Fixed Sidebar (stay in place on scroll) */
	top: 0;
  	z-index: 1; /* Stay on top */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

footer h1 {

	margin: 0;
}














